<div class="container mt-5 mb-5">
    <div class="row">
        <div class="card col-md-4 mx-auto rounded">
            <section class="card-body">
                <h4 class="card-title mb-4 mt-1">Sign Up</h4>
                <form action="/signup" method="POST">
                    <div class="form-group">
                        <label>Your username</label>
                        <input name="username" class="form-control" placeholder="Username" type="text">
                    </div>
                    <div class="form-group">
                        <label>Your email</label>
                        <input name="email" class="form-control" placeholder="Email" type="text">
                    </div>
                    <div class="form-group">
                        <label>Your password</label>
                        <input name="password" class="form-control" placeholder="******" type="password">
                    </div>
                    {{!-- <div class="form-group">
                        <label>Confirm password</label>
                        <input name="password_confirm" class="form-control" placeholder="******" type="password">
                    </div> --}}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block mt-4"> Signup </button>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div>
                                Have an account?
                                <a href="/signin">
                                    Sign In Here
                                </a>
                            </div>
                        </div>
                    </div> 
                </form>
            </section>
        </div>
    </div>
</div>